.container600 {
	width: 600px;
	margin: 0 auto;
}

.cols .w33p {
	width: 33.33%;
	float: left; 
}

.cols .w66p {
	width: 66.66%;
	float: left;
}

.clr {
	clear: both;
}

.marginTop100 {
	margin-top: 100px;
}

.padding30 {
	padding: 30px;
}

.center {
	text-align: center;
}