.button {
	display: inline-block;

	padding: 10px;
	margin-top: 15px;

	border-radius: 30px;

	font-size: 16px;
	line-height: 16px;

	text-decoration: none;

	transition: all .5s;
}

.button:hover {
	box-shadow: 2px 2px 5px #888888;
}

@media all and (max-width: 599px) {
	.button {
		display: block;
		margin: 30px 50px;
		padding: 20px;

		text-align: center;
	}
}